<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1><%= sessionId %></h1>

    <main>
        <!-- TODO: sort by relevance -->
        <% events.forEach( oEvent => { %>
        <article class="event_article" data-difficulty="<%= oEvent.topics_difficulty %>" data-target="<%= oEvent.proffessional_target %>">
            <!-- TODO: add image from link -->
            <a href="<%= oEvent.event_link %>" class="event-link">
                <img src="" alt="">
            </a>
            <h3 class="event-title"> <%= oEvent.title %></h3>
            <p class="event-date"> <%= oEvent.date %> </p>
            <p class="event-location" style="text-transform: capitalize;"><%= oEvent.location %></p>
            <p class="event-topics" style="text-transform: capitalize;"><%= oEvent.topics %></p>
            <p class="event-price"><%= oEvent.attendance_price %></p>
        </article>
        <% }) %>
    </main>
</body>
</html>