<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/overwrite.css">
</head>
<body>
    <nav>
        <a href="/home/events" data-location="events" >Main Events</a>
        <a href="/home/profile" data-location="profile" >My Dashboard</a>
        <a href="/logout">Logout</a>
    </nav>
    <h1><%= sessionId %></h1>

    <div class="main-events_div main-view" data-location="events">
        <!-- TODO: sort by relevance -->    
        Sort by:
        <button type="text" class="btn">Relevance: Highest to Lowest</button>
        <button type="text" class="btn">Date: Closest to Latest</button>

        <% events.forEach( oEvent => { %>
        <article class="event_article" data-difficulty="<%= oEvent.topics_difficulty %>" data-target="<%= oEvent.proffessional_target %>">
            <a href="<%= oEvent.event_link %>" class="event-link">
                <img src="images/event-placeholder.jpg" alt="" style="height: 100px;">
            </a>
            <h3 class="event-title"> <%= oEvent.title %></h3>
            <p class="event-date"> <%= oEvent.date %> </p>
            <p class="event-location" style="text-transform: capitalize;"><%= oEvent.location %></p>
            <p class="event-topics" style="text-transform: capitalize;"><%= oEvent.topics %></p>
            <p class="event-price"><%= oEvent.attendance_price %></p>
            <form method="POST" action="/home/events">
                <input type="hidden" name="eventId" value="<%= oEvent.id %>">
                <button type="submit" class="btn">Add To Calendar</button>
            </form>
        </article>
        <% }) %>
    </div>

</body>
</html>